<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beacons Server</title>
    <link rel="stylesheet" href="static/css/foundation.css">
    <link rel="stylesheet" href="static/css/app.css">
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Bienvenue sur le server beacons</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <table>
          <thead>
            <tr>
              <th width="200">Device Name</th>
              <th width="200">Location</th>
            </tr>
          </thead>
          <tbody>
            <% devises.forEach(function(devise){ %>
              <tr>
                <td>
                  <%= devise.deviseName %>
                </td>
                <td>
                  <%= devise.beaconConnected.beaconName %>
                </td>
              </tr>
          <%  }) %>
          </tbody>
        </table>
      </div>
    </div>



    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/vendor/what-input.js"></script>
    <script src="static/js/vendor/foundation.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
